#modulo-bento .container-heading {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 8px;
}

#modulo-bento .container-img {
}
@media (min-width: 767px) {
  #modulo-bento .container-heading {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
